.datos-usuario {
  min-width: 250px;
  max-width: 350px;
  position: absolute;
  right: 15px !important;
  position: fixed;
  top: 100px;
  right: 25px;
  border-radius: 10px;
  color: white;
}

.sombra {
  box-shadow: 10px 10px 50px 0 rgba(255, 6, 6, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: none;
  /* color: rgb(159, 7, 7); */

  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;  
  min-width: 160px;
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boton {
  width: 300px;
  height: 50px;
}

.boton-icono {
  height: 100%;
  width: 75px;
  padding: 3px !important;
}

.icono {
  scale: 3 !important;
}

@media screen and (max-width: 1550px) {
  .datos-usuario {
    display: none;
  }
}