.datos-usuario {
  position: absolute;
  right: 15px !important;
  position: fixed;
  top: 80px;
  right: 25px;
  border-radius: 10px;
  color: white;
  max-width: 200px;
  max-height: 185px;
  overflow-y: auto;
}


 /*SCROLL*/
 ::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px !important;

  /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background-color: rgba(17, 0, 255, 0.025);
  border-radius: 100px !important;
  /* Color de fondo del track (área detrás del scrollbar) */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(5, 75, 101);
  border-radius: 100px;
  /* Color del thumb (el agarre del scrollbar) */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(5, 75, 101);
  /* Color del thumb al pasar el mouse sobre él */
}

/* Estilos para el scroll horizontal */
::-webkit-scrollbar-horizontal {
  height: 50px !important;
  /* Altura del scrollbar */
}

.sombra {
  /* box-shadow: 10px 10px 50px 0 rgba(255, 6, 6, 0.2); */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: none;
  /* color: rgb(159, 7, 7); */

  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  min-width: 160px;
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boton {
  width: 300px;
  height: 50px;
}

.boton-icono {
  height: 100%;
  width: 75px;
  padding: 3px !important;
}

.icono {
  scale: 3 !important;
}

@media screen and (max-width: 1550px) {
  .datos-usuario {
    display: none;
  }
}