<div>
    <div class="bg-success" style="height: 50px;">
        <nav style="height: 100% !important;" class=" d-flex">
            <div class="bg-success" class="dropdown">
                <button class="dropdown-button  m-0 p-0 bg-success">
                    <img height="50px" src="assets/hmenu.png">
                </button>
                <div class="dropdown-content">
                    <button routerLink="ahorcado" class="btn btn-primary m-2 fs-4 fw-bold boton">Ahorcado</button>
                    <button routerLink="mayor-menor" class="btn btn-primary m-2 fs-4 fw-bold boton">Mayor Menor</button>
                    <button routerLink="preguntados" class="btn btn-primary m-2 fs-4 fw-bold boton">Preguntados</button>
                    <button routerLink="chat" class="btn btn-primary m-2 fs-4 fw-bold boton">Sala de CHAT</button>
                    <button routerLink="batallaDragonBall" class="btn btn-primary m-2 fs-4 fw-bold boton">Batalla Dragon Ball</button>                    
                </div>
            </div>
            <div *ngIf="spinner; else titulo" class="d-flex" style="align-items: center; height: 100%;">
                <div class="spinner-border text-light mx-5" style="align-self: center; scale: 1.2;"></div>
            </div>
            <ng-template #titulo>
                <ng-container *ngIf="usuarioActual">
                    <h3 class="px-2 fs-2 fw-bold text-light" style="align-self: center; margin: auto 5px;">
                        <span class="nombre-usuario">
                            {{usuarioActual.usuario}}
                        </span>
                    </h3>
                </ng-container>
            </ng-template>
        </nav>
    </div>
    <div>
    </div>
    <div style="height: 80vh; margin: 10px;">
        <router-outlet></router-outlet>
    </div>
    <div class="datos-usuario">
        <div class="card datos-usuario sombra fs-4">
            <div class="card-body sombra">
                <div *ngIf="spinner; else datosUsuario" class="d-flex justify-content-center">
                    <span class="m-3 fs-3 fw-bold">Cargando...</span>
                    <div class="spinner-border text-danger" style="align-self: center; scale: 1.2;"></div>
                </div>
                <ng-template #datosUsuario>
                    <ng-container *ngIf="usuarioActual">
                        <h5 class="card-title fs-4">{{usuarioActual.usuario}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted fs-5">{{usuarioActual.correo}}</h6>
                        <p class="card-text fs-6 p-0 m-0">Fecha de registro:</p>
                        <p class="card-text fs-6 p-0 m-0">{{obtenerFechaString(usuarioActual)}}</p>
                    </ng-container>
                </ng-template>
            </div>
        </div>
    </div>
</div>