<div class="d-flex componente">
    <div class="d-flex justify-content-center">
        <h3 class="fw-bold fs-3 titulo-luminoso">Sala de Chat: <span class="fs-2">ZETA-G</span> </h3>
    </div>
    <app-chat class="" style="height: 100%; min-height: 10px;" [usuarioLogueadoId]="usuarioLogueadoId"></app-chat>
    <div class="caja-mensaje">
        <div>
            <div class="estilos-contenedor-boton-input">
                <input type="text" [(ngModel)]="mensajeEscrito" class="estilos-input" (keyup.enter)="enviarMensaje()">
                <button [disabled]="mensajeEscrito == '' || enviandoMensaje"
                [ngClass]="{'deshabilitado' : mensajeEscrito == ''|| enviandoMensaje}"
                 class="estilos-boton m-0 p-0"
                    (click)="enviarMensaje()">{{textoBoton}}
                </button>
            </div>
        </div>
    </div>
</div>