<div class="estilos-contenedor"  #contenedor>
    <div  *ngIf="cargando; else titulo" class="d-flex justify-content-center" style="align-items: center; height: 100% !important;">
        <span class="m-3 fs-3 fw-bold text-light">Cargando...</span>
        <div class="spinner-border text-light" style="align-self: center; scale: 1.2;"></div>
    </div>
    <ng-template #titulo >
        <div  *ngFor="let mensaje of mensajes">
            <div class="burbuja">
                <div class="burbuja-ajena" [ngClass]="{'burbuja-propia': mensaje.usuarioId == usuarioLogueadoId}">
                    <div
                        [ngClass]="{'mensaje-ajeno': mensaje.usuarioId != usuarioLogueadoId, 'mensaje-propio': mensaje.usuarioId == usuarioLogueadoId}">
                        <div class="mensaje">
                            <span *ngIf="mensaje.usuarioId != usuarioLogueadoId">{{mensaje.usuario}}</span>
                            <span>{{obtenerFechaString(mensaje)}}</span>
                            <p>
                                {{mensaje.mensaje}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>