<div class="d-flex justify-content-center contenedor-principal">
    <div class="row w-100 ml-0">
        <div class="col">
            <h3 class="fw-bold text-center titulo texto-luminoso">BIENVENIDO</h3>     
        </div>
    </div>
    <div class="row w-100 justify-content-center ml-0">
        <div class="col col-4 col-lg-2 d-flex justify-content-center">
            <img width="100%" src="assets/logo/logo.png" style="border-radius: 70px;">
        </div>
    </div>
    <div class="row w-100 d-flex justify-content-center ml-0">
        <div class="col d-flex justify-content-center">
            <p class="fw-bold text-center letra text-center p-2 texto-principal">
                En nuestra reconocida sala de juegos 'ZETA-G'
                podrás disfrutar de entretenimientos como 'El ahorcado', 'Preguntados', 'Mayor o Menor', 'Batalla Dragon Ball' y
                de nuestra exclusiva Sala de CHAT!
            </p>
        </div>
    </div>
</div>