<div class="d-flex justify-content-center"  style="height: 100%; flex-direction: column; background-color: rgb(212, 243, 215);">
    <h3 class="fw-bold text-center titulo" style="font-size: 5em;">BIENVENIDO</h3>
    <h4 class="fw-bold text-center" style="font-size: 4em; letter-spacing: 3px;">
        En
        <img width="200px" src="assets/logo/logo.png" style="border-radius: 70px;">
        podrás disfrutar de juegos como 'El ahorcado', 'Preguntados', 'Mayor o Menor', 'Batalla Dragon Ball' y de nuestra exclusiva Sala de CHAT!
    </h4>
</div>