<div class="tarjeta-presentacion">
    <div class="card sombra mt-5 pt-5">
        <img class="card-img-top rounded-circle imagen" src="assets/imagenes/Foto.png" alt="Imagen alumno">
        <div class="card-body">
            <h5 class="card-title fs-1">Gonzalo Zafferano</h5>
            <h6 class="card-subtitle mb-2 text-muted fs-2">4to B</h6>
            <p class="card-text d-flex fs-3">Hola! Soy Gonzalo, te doy la bienvenida a ZETA-G!
                <img class="logo d-flex" src="assets/logo/logo.png">      
            </p>
        </div>
    </div>
</div>