<div style="background-color: rgb(212, 243, 215);">
    <div class="row w-100 d-flex justify-content-center ml-0">
        <div class="col col-12 col-lg-6 d-flex justify-content-center" style="margin: 0 auto;">

            <div class="tarjeta-presentacion">
                <div class="card sombra mt-5 pt-5">
                    <img class="card-img-top rounded-circle imagen" src="assets/imagenes/Foto.jpg" alt="Imagen alumno">
                    <div class="card-body">
                        <h5 class="card-title fs-1">Gonzalo Zafferano</h5>
                        <h6 class="card-subtitle mb-2 text-muted fs-2">4to B</h6>
                        <p class="card-text d-flex fs-3">Hola! Soy Gonzalo, te doy la bienvenida a ZETA-G!
                            <!-- <img class="logo d-flex" src="assets/logo/logo.jpg"> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100 d-flex justify-content-center mb-2 ml-0">
        <div class="col col-11 col-lg-12 justify-content-center mb-2">
            <div class="w-100 sombra borde p-2" style="margin: 0 auto;">
                <p class="fs-3 fw-bold texto"> El juego "BATALLA DRAGON BALL" consiste en vencer a los temibles Cell
                    Junior
                    que amenazan la paz de la Tierra. Para lograrlo, nuestro héroe Gohan debe ser rápido y
                    destruirlos uno a uno antes de que ellos acaben con él.
                </p>
                <p class="fs-3 fw-bold texto">
                    Para comenzar, debemos presionar el botón
                    <button class="btn btn-primary m-2 p-1 fs-2 fw-bold" disabled>Comenzar</button> que se encuentra en
                    el juego.
                </p>
                <p class="fs-3 fw-bold texto">
                    Esto provocará que las explosiones por parte de los Cell Junior
                    comiencen de forma aleatoria en el territorio donde se encuentra nuestro héroe.
                    Para evadir esas explosiones, debemos mover a Gohan utilizando las teclas 'a' (izquierda), 's'(abajo). 'w' (arriba),'d' (derecha).
                </p>
                <p class="fs-3 fw-bold texto">
                    A su vez, debemos ir atacando a los enemigos, haciendo click izquierdo (del mouse) sobre el territorio enemigo, causando nuestras propias explosiones.
                </p>
                <p class="fs-3 fw-bold texto">

                    Los Cell Junior son pequeños y lentos (se reubican cada 3 segundos), por lo que prefieren esconderse
                    a simple vista mientras atacan,
                    lo que dificulta verlos. Sin embargo, podemos presionar el botón
                    <button class="btn btn-success m-2 p-1 fs-2 fw-bold" disabled>Elevar KI</button>
                    (con un tiempo de
                    reutilización) para ver brevemente sus ubicaciones. Al elevar el KI, también se curarán 10 puntos de
                    vida y mientras se cargue KI, no se recibe daño.
                </p>
                <p class="fs-3 fw-bold texto">
                    Cada explosión que impacte a Gohan le restará 20 puntos de vida,
                    (cuenta con 100 puntos de vida en total). Una vez que podamos derrotar a los Cell Junior,
                    no podemos cantar victoria, ya que nos quedará un enemigo más poderoso que no se esconde,
                    pero es muy rápido.
                </p>
            </div>
        </div>
    </div>
</div>