* {
    color: wheat;
}

.opcion {
    background-color: white;
    color: green !important;
    border-radius: 50px;
    width: 100% !important;
    display: flex;
    align-items: center;
}

.opcion-texto {
    color: inherit;
    margin: 0;
    padding: 3px;
    padding-left: 30px;
}

.opcion:hover {
    background-color: green;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
}

.fd-column {
    flex-direction: column !important;
}

.imagen {
    width: 350px;
    border-radius: 20px;
    align-self: center;
}

.bloqueado {
    pointer-events: none;
    opacity: 0.5;
}