/* You can add global styles to this file, and also import other style files */

.toast-custom-error {
    margin: 5px;
    background-color: #d17575;
    color: #ffffff;
    font-size: 1.05em;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}

.toast-custom-position {
    position: fixed;
    top: 60px;
    right: 10px;
}

.toast-custom-success {
    margin: 5px;
    background-color: #5b9654;
    color: #ffffff;
    font-size: 1.05em;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}

.toast-custom-juego-position {
    position: fixed;
    top: 10% !important;
    margin: auto auto;
    width: 100%;
    height: auto;
    font-size: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.toast-custom-perdio {
    margin: 5px;
    background-color: #d17575;
    width: auto;
    color: #ffffff;
    font-size: 1.05em;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
}

.toast-custom-gano {
    margin: 5px;
    background-color: #5b9654;
    color: #ffffff;
    font-size: 1.05em;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
}

.toast-custom-empate {
    margin: 5px;
    background-color: #548796;
    color: #ffffff;
    font-size: 1.05em;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
}

.sw-container {
    background-color: rgba(81, 255, 0, 0.2) !important;
    border-radius: 50px !important;
}

.sw-container-perdio {
    background-color: rgba(255, 55, 0, 0.2) !important;
    border-radius: 50px !important;
}

.sw-cancel {
    background-color: #d17575 !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

.sw-title {
    /* background-color: #d17575; */
    font-size: 3em !important;
    font-weight: bold !important;
}

.sw-confirm {
    background-color: #5b9654 !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

.sw-texto {
    /* background-color: red !important; */
    /* color: black !important; */
    font-size: 2em !important;
    font-weight: bold !important;
}

.sw-popup {
    border-radius: 50px !important;
    background-color: #ffffff !important;
}

/* 
.aa{
    background-color: red !important;
    border-radius: 100px !important;
    color: green !important;
    display: flex;
    flex-direction: row-reverse;
} */

* {
    font-family: cursive;
}

.fondo-app {
    background: linear-gradient(to bottom, #0a0120f7 35%, #3d66b8 50%, #0b0122f7 70%);
}

.fondo-app-unico {
    background-color: rgb(6, 6, 59);
}

.fondo-cards {
    background-color: #0a0120f7;
}

@keyframes efecto-texto-luminoso {
    0% {
        text-shadow: 0 0 5px #fff;
    }

    50% {
        text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00;
    }

    100% {
        text-shadow: 0 0 5px #fff;
    }
}

@keyframes efecto-titulo-luminoso {
    0% {
        text-shadow: 0 0 5px #f2ff00;
    }

    50% {
        text-shadow: 0 0 20px #ff1e00, 0 0 30px #ff1e00;
    }

    100% {
        text-shadow: 0 0 5px #f2ff00;
    }
}

@keyframes efecto-titulo-error-luminoso {
    0% {
        text-shadow: 0 0 5px #ff7700;
    }

    50% {
        text-shadow: 0 0 20px #ff1e00, 0 0 30px #ff1e00;
    }

    100% {
        text-shadow: 0 0 5px #ff7b00;
    }
}

.texto-error-luminoso{
    animation: efecto-titulo-error-luminoso 2s infinite;
}

.texto-luminoso {
    animation: efecto-texto-luminoso 2s infinite;
}

.titulo-luminoso{
    animation: efecto-titulo-luminoso 2s infinite;
}

@keyframes efecto-fondo-luminoso {
    0% {
        background-color: rgba(0, 255, 0, 0.4);
    }

    50% {
        background-color: rgba(0, 255, 0, 1);
    }

    100% {
        background-color: rgba(0, 255, 0, 0.4);
    }
}

.fondo-luminoso {
    animation: efecto-fondo-luminoso 2s infinite;
}


/*
box-shadow:
[offset-x] [offset-y] [blur-radius] [spread-radius] [color];
offset-x: Especifica el desplazamiento horizontal de la sombra con un valor positivo (hacia la derecha) o negativo (hacia la izquierda).
offset-y: Especifica el desplazamiento vertical de la sombra con un valor positivo (hacia abajo) o negativo (hacia arriba).
blur-radius: Especifica el nivel de desenfoque de la sombra. Un valor mayor creará una sombra más difusa.
spread-radius (opcional): Controla la extensión de la sombra. Un valor positivo hará que la sombra se expanda y un valor negativo la hará más compacta.
color: Especifica el color de la sombra. Puedes usar nombres de colores, valores hexadecimales, RGB, HSL, entre otros.
*/

@keyframes efecto-sombra-luminosa {
    0% {
        box-shadow:
            5px 5px 5px rgba(255, 6, 6, 0.2),
            5px -5px 5px rgba(255, 6, 6, 0.2),
            -5px -5px 5px rgba(255, 6, 6, 0.2),
            -5px 5px 5px rgba(255, 6, 6, 0.2);
    }

    50% {
        box-shadow:
            5px 5px 20px rgba(255, 243, 6, 1), /*der-abajo*/
             5px -5px 20px rgba(255, 243, 6, 0.8), /*der-arriba*/          
            -5px -5px 20px rgba(255, 243, 6, 1),  /*izq-arriba*/
            -5px 5px 20px rgba(255, 243, 6, 0.8);  /*izq-abajo*/
    }

    100% {
        box-shadow:
            5px 5px 5px rgba(255, 6, 6, 0.2),
            5px -5px 5px rgba(255, 6, 6, 0.2),
            -5px -5px 5px rgba(255, 6, 6, 0.2),
            -5px 5px 5px rgba(255, 6, 6, 0.2);
    }
}

.sombra-luminosa {
    animation: efecto-sombra-luminosa 5s infinite;
}

@keyframes efecto-sombra-luminosa-alternativa {
    0% {
        box-shadow:
            5px 5px 5px rgba(6, 35, 255, 0.2),
            5px -5px 5px rgba(6, 35, 255, 0.2),
            -5px -5px 5px rgba(6, 35, 255, 0.2),
            -5px 5px 5px rgba(6, 35, 255, 0.2);
    }

    50% {
        box-shadow:
            5px 10px 30px rgb(6, 255, 189,1),
            5px -10px 30px rgb(6, 255, 189,0.8),
            -5px -10px 30px rgb(6, 255, 189,1),
            -5px 10px 30px rgba(3, 255, 188, 0.8);
    }

    100% {
        box-shadow:
            5px 5px 5px rgba(6, 35, 255, 0.2),
            5px -5px 5px rgba(6, 35, 255, 0.2),
            -5px -5px 5px rgba(6, 35, 255, 0.2),
            -5px 5px 5px rgba(6, 35, 255, 0.2);
    }
}
.sombra-luminosa-alternativa{
    animation: efecto-sombra-luminosa-alternativa 5s infinite;
}